@import './reset.css';

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

img {
  object-fit: cover;
  overflow: hidden;
}

.body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

.main {
  max-width: 555px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.edit {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.edit:hover {
  color: #eb561b;
}

.edit[contenteditable='true'] {
  background-color: #8ae68a;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 7px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: #ffffff9a;
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.printBtn {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  font-size: 8px;
  font-weight: 500;
  padding: 4px 6px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 4px 8px rgba(0, 0, 0, 0.2),
    0px 8px 16px rgba(0, 0, 0, 0.2);
}

.printBtn:hover {
  box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.2),
    0px 8px 16px rgba(0, 0, 0, 0.2),
    0px 16px 32px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.printBtn:active {
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 4px 8px rgba(0, 0, 0, 0.2),
    0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.box {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
}

.profileImg {
  height: 124px;
  width: 124px;
}

.nameBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100px;
  height: 100px;
}

.greetingPhrase {
  font-size: 10px;
  line-height: 150%;
  font-weight: 500;
}

.yourInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 14px;
  line-height: 104%;
  font-weight: 600;
}

.role {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  color: #5c5c5c;
}

.lenguagesBox {
  width: 243px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listLenguages {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.nameTitle {
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
}

.language {
  line-height: 104%;
  font-size: 10px;
  font-weight: 500;
}

.nameLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.levelLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.level {
  display: block;
  height: 11px;
  background-color: #28d979;
  animation: progress 2s ease-out forwards;
  border-radius: 3px;
  width: var(--progress-value);
}

.english {
  --progress-value: 100%;
}

.spanish {
  --progress-value: 78%;
}

.french {
  --progress-value: 66%;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: var(--progress-value);
  }
}

.educationBox {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 248px;
}

.educationBoxContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
  align-items: flex-start;
}

.education {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background-color: #ffffff;
}

.educationContent {
  font-size: 10px;
  font-weight: 500;
  line-height: 150%;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topBarTitle {
  font-size: 10px;
  font-weight: 500;
  line-height: 150%;
}

.heartGreen {
  background-image: url('./VectorGreen.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 9.4px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.heartWhite {
  background-image: url('./VectorWhite.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 9.4px;
  overflow: hidden;
}

.heartGreen:hover {
  scale: 1.2;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: -2px;
  color: #149063;
  padding-left: 1px;
}

.tag {
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}

.schoolName {
  margin-top: 1px;
  margin-bottom: -1px;
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}

.favorite {
  background-color: #28d979;
  color: #ffffff;
}

.extraBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interestsBox {
  display: flex;
  flex-direction: column;
  width: 243px;
  gap: 16px;
}

.interectsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.interestTag {
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  padding: 4px 10px;
  background-color: #ffffff;
  border-radius: 40px;
}

.contact {
  max-width: 243px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: #ffffff;
  background-color: #000000;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  gap: 8px;
}

.contactLink {
  color: #dddddd;
  text-decoration: none;
}

.toolsBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 0;
}

.tools {
  min-width: 76px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toolsContent {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 16px 11px;
  flex-wrap: wrap;
  gap: 16px;
}

.toolsContentBox {
  position: relative;
}

.link {
  display: block;
  width: 120%;
  height: 120%;
}

.tool {
  transition: all 0.5s ease-in-out;
}

.tool:hover {
  scale: 1.2;
}

.figma {
  margin-left: 5px;
  width: 10px;
  height: 15px;
  background-image: url('./links/logoFigma.png');
}

.cloud {
  width: 18px;
  height: 18px;
  background-image: url('./links/logoCreativeCloud.png');
}

.miro {
  width: 21px;
  height: 20px;
  background-image: url('./links/logoMiro.png');
}

.notion {
  width: 17px;
  height: 20px;
  background-image: url('./links/logoNotion.png');
}

.meet {
  width: 19.5px;
  height: 15.95px;
  background-image: url('./links/logoMeet.png');
}

.analytics {
  width: 18.5px;
  height: 18px;
  background-image: url('./links/logoanalytics.png');
}

.zapier {
  width: 20px;
  height: 20px;
  background-image: url('./links/logoZapìer.png');
}

.webflow {
  width: 18px;
  height: 18px;
  background-image: url('./links/logoWebflow.png');
}

.framer {
  width: 13px;
  height: 18.57px;
  margin-left: 4px;
  background-image: url('./links/logoFramer.png');
}

.wordpress {
  width: 17px;
  height: 17px;
  background-image: url('./links/logoWordpress.png');
}

.chat {
  width: 19px;
  height: 19px;
  background-image: url('./links/logoChatGPT.png');
}

.copilot {
  width: 18px;
  height: 19px;
  background-image: url('./links/logoCopilot.png');
}

.midjourney {
  width: 19px;
  height: 19px;
  background-image: url('./links/logoMidjourney.png');
}

.label {
  position: absolute;
  content: '';
  color: #ffffff;
  background-color: #000000;
  font-size: 5px;
  font-weight: 500;
  line-height: 142%;
  padding: 2px 6px;
  border-radius: 59px;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.experienceBox {
  max-width: 387px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.jobList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 8px;
  font-weight: 500;
  line-height: 150%;
}

.experiance {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
}

.favoriteExperiance {
  color: #ffffff;
  background-color: #28d979;
}

.experienceTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mostRecent {
  color: #ddf163;
  line-height: 155%;
  padding: 2px 6px;
  background-color: #7d721266;
  border-radius: 59px;
}

.roleName {
  font-size: 10px;
  width: 124px;
}

.aboutJob {
  word-spacing: 4px;
}

.job {
  word-spacing: 0;
}

.experianceContent {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.listItems {
  list-style-type: '\2022';
  padding-left: 4px;
}

@media (max-width: 600px) {
  .profile {
    width: 100%;
    max-width: 380px;
    justify-content: space-around;
  }

  .lenguagesBox {
    width: 100%;
    max-width: 380px;
  }

  .listLenguages {
    width: 100%;
  }

  .educationBox {
    width: auto;
  }

  .interestsBox {
    width: auto;
    max-width: 379px;
  }

  .extraBox {
    gap: 20px;
    align-items: center;
  }

  .contact {
    width: 100%;
    max-width: 380px;
  }

  .toolsBox {
    width: 100%;
    max-width: 380px;
  }

  .tools {
    flex-direction: row;
    justify-content: space-between;
  }

  .toolsContent {
    width: 58px;
  }
}

@media (max-width: 440px) {
  .contact {
    width: auto;
    padding: 12px 22px;
  }
}

@media (max-width: 355px) {
  .tools {
    flex-direction: column;
  }

  .roleName {
    width: auto;
    min-width: 80px;
    margin-bottom: 8px;
  }

  .toolsContent {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}

@media (max-width: 307px) {
  .educationBoxContent {
    justify-content: center;
  }

  .education {
    width: 100%;
  }
}

@media print {
  .printBtn {
    display: none;
  }

  .main {
    padding: 0;
    border: none;
    width: 100%;
    margin: 0;
  }
}
