@import './reset.css';

.body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  /* justify-content: center; */
  padding: 15px 20px;
}

.main {
  max-width: 555px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  background-color: #f0f0f0;
  border-radius: 12px;
}

.nameBox {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100px;
}

.greetingPhrase {
  font-size: 10px;
  line-height: 150%;
  font-weight: 500;
}

.name {
  font-size: 14px;
  line-height: 104%;
  font-weight: 600;
  margin-bottom: 6px;
}

.role {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  color: #5c5c5c;
}

.lenguagesBox {
  padding: 12px;
  width: 243px;
}

.listLenguages {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.nameTitle {
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.language {
  line-height: 104%;
  font-size: 10px;
  font-weight: 500;
}

.nameLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.levelLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level {
  display: block;
  height: 11px;
  width: 100px;
  background-color: #28d979;
}
