@import './reset.css';

.body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  /* justify-content: center; */
  padding: 15px 20px;
}

.main {
  max-width: 555px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
}

.profileImg {
  height: 124px;
  width: 124px;
}

.nameBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100px;
  height: 100px;
}

.greetingPhrase {
  font-size: 10px;
  line-height: 150%;
  font-weight: 500;
}

.yourInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 14px;
  line-height: 104%;
  font-weight: 600;
}

.role {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  color: #5c5c5c;
}

.lenguagesBox {
  width: 243px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listLenguages {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.nameTitle {
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
}

.language {
  line-height: 104%;
  font-size: 10px;
  font-weight: 500;
}

.nameLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.levelLenguage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level {
  display: block;
  height: 11px;
  width: 100px;
  background-color: #28d979;
}

.educationBox {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 248px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
  align-items: flex-start;
}

.education {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background-color: #ffffff;
}

.educationContent {
  font-size: 10px;
  font-weight: 500;
  line-height: 150%;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBarTitle {
  font-size: 10px;
  font-weight: 500;
  line-height: 150%;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: -2px;
  color: #149063;
  padding-left: 1px;
}

.tag {
  font-size: 8px;
  font-weight: 400;
  margin-bottom: -5px;
}

.schoolName {
  margin-top: 2px;
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}

.favorite {
  background-color: #28d979;
  color: #ffffff;
}

.extraBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interestsBox {
  display: flex;
  flex-direction: column;
  max-width: 243px;
  gap: 16px;
}

.interectsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.interestTag {
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  padding: 4px 10px;
  background-color: #ffffff;
  border-radius: 40px;
}

.contact {
  max-width: 243px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: #ffffff;
  background-color: #000000;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  gap: 8px;
}

.link {
  color: #dddddd;
  text-decoration: none;
}
